header {
    position: fixed;
    top: 0;
    left: 10px;
    width: 100%;
    background: white;
    z-index: 1000;
    padding: 5px 0;
    height: 53px;
}
nav {
    position: fixed;
    top: 90px;
    right: 0;
    z-index: 1100; 
}
body {
    margin: 0;
    padding-top: 150px;
}
h2{
    scroll-margin-top: 100px;
    text-align: center;
    font-size: 50px;
    
}
.ach {
    border-collapse: collapse;
}

.ach th,
.ach td {
    border: 1px solid black; 
    padding: 8px;
}
.slider {
  position: relative;
  width: 400px;  
  height: 400px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.prev { left: 10px; }
.next { right: 10px; }
